---
title: Smartsheet Data Manager for Salesforce

language_tabs:
  
toc_footers:

includes:

search: false
---

# <span class="customTOCSectionHeading">Getting Started</span>

<aside class="notice">Last updated: 08/10/2015</aside>

# Private Beta Overview

## What is private beta?

## How long will the private beta last?

## Who is eligible to participate in the private beta?

# Enrollment

# Requirements

# <span class="customTOCSectionHeading">Installation</span>

# Existing Smartsheet for Salesforce customers

# New Smartsheet for Salesforce customers

# Configuring Smartsheet for Salesforce

# Accessing Data Manager

# Accepting private beta user agreement (EULA)

# Connecting to Smartsheet


# <span class="customTOCSectionHeading">Usage</span>

# Data Manager Dashboard

# Creating a new workflow (export or import)

# Checking workflow status and history

# Running an existing workflow

# Modifying an existing workflow


# <span class="customTOCSectionHeading">Support</span>

If you encounter an error, have a feature request or any other feedback, please send detailed information (ideally, including screenshots) to us at api@smartsheet.com.

# <span class="customTOCSectionHeading">FAQ</span>



